/*todo: Add more styling, bordered boxes around selections*/
/*todo: Add images to game area*/
/*todo: Try to get font downloaded displaying on page*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../images/bbwallpaper1.jpg);
  background-size: cover;
}

.jumbotron {
  background-color: black;
}

h1 {
  font-family: "East Sea Dokdo", cursive;
  text-align: center;
  font-weight: bold;
  color: green;
  font-size: 50px;
}


/*Tried to link a truetype font downloaded from web
/*@font-face {
  font-family: 'Heart Breaking Bad';
  src: url("../images/heartbb.otf") format('otf');
}*/

button {
  font-family: "East Sea Dokdo", cursive;
  color: green;
  font-size: 30px;
}

/* .wrapper {
  font-family: "East Sea Dokdo", cursive;
  min-height: 100%;
  background-image: url("../images/bbwallpaper2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 110%;
  color: white;
  font-size: 30px;
} */
